<% if @restaurants.any? %>
  <% @restaurants.all.each do |table_row| %>
    <h2><%= link_to table_row.name, restaurant_path(table_row) %></h2>
    <%= table_row.description %><br>
    <%= link_to "Edit #{table_row.name}", edit_restaurant_path(table_row) %></br>
    <%= link_to "Delete #{table_row.name}", restaurant_path(table_row), method: :delete %></br>
    <%= link_to "Review #{table_row.name}", new_restaurant_review_path(table_row) %></br>
    <h3>Reviews for <%= table_row.name %></h3>
    <% if table_row.reviews.any? %>
      <ul>
        <% table_row.reviews.each do |review_table_row| %>
          <li>
            <%= review_table_row.thoughts %> [<strong><%= review_table_row.rating %></strong>/5]
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No reviews.</p>
    <% end %>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<a href="<%=new_restaurant_path%>">Add a restaurant</a>
