<h2><%= @restaurant.name %></h2>
<%= @restaurant.description %>
<h3>Reviews for <%= @restaurant.name %></h3>

<% if @restaurant.reviews.any?%>
  <ul>
    <% @restaurant.reviews.each do |table_row| %>
      <li>
        <%= table_row.thoughts %>, <strong><%= table_row.rating %></strong>/5
      </li>
      <% end %>
  </ul>
<% else %>
  <p>
    No reviews.
  </p>
<% end %>
